body{
	background-color: #f3f3f3
}
.container{
	width: 1230px;
	margin: 0 auto;
}

.sanpham{
	width: 400px;
	margin: 5px;
	float: left;
	background-color: #fff
}
.hinh img{
	width: 170px;
	margin: 5px
}
.hinh, .desc{
	float: left;

}

.hinh{
	width: 180px;
}
.desc{
	width: 220px
}
#khuyenmai{
	font-family: Tahoma;
	color: red
}

.name, .price{
	font-size: 25px;
	font-weight: bold;
	padding-left: 25px;
	padding-bottom: 15px
}
.price{
	color: red
}

@media(max-width: 1200px){
	.container{
		width: 930px;
	}

	.sanpham{
		width: 30.33333333%;
	}

	.hinh{
		width: 100%;
	}
	.hinh img{
		margin:0 auto;
		width:90%;
	}

}

@media(max-width: 740px){
	.container{
		width: 700px;
	}

	.sanpham{
		width: 48%;
	}
}


@media(max-width: 500px){
	.container{
		width: 470px;
	}
	.sanpham{
		width: 45%;
	}
	.desc{
		display: none;
	}
}